@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*--------------------------------------------Colors*/

.bg-color-about-section {
    background-color: rgb(220, 221, 164) ;
}

.bg-color-gallery-section {
    background-color: rgb(220, 221, 164);
}

.bg-color-latest-mix {
    background-color: #f7bfcd;
}

.bg-color-mix-history {
    background-color: #f7bfcd;
}

.bg-color-events-timeline {
    background-color: #628ba7;
}

.bg-color-contact {
    background-color: #fff;
}

.ui-menu-color-home {
    background-color: #0bcef5;
}

.ui-menu-color-media {
    background-color: #982fe8;
}

.ui-menu-color-contact {
    background-color: #13f37b;
}

/* ----------------------------------------Special paddings/margins/text */

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.inline-block {
    display: inline-block;
}

.row-table {
    display: table;
}

.section-column {
    display: table-cell;
    padding: 0 30px 50px;
    float: none;
}

.history-heading,
.section-heading {
    font-family: "Exo", sans-serif;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 40px;
}

/*--------------------------------------------Heading*/

header {
    margin: 0;
}

.heading {
    text-align: center;
}

.bg-title-banner {
    background: url("../images/giphy.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.title {
    font-family: "Exo", sans-serif;
    font-weight: 700;
    font-size: 60px;
    margin-top: 75px;
    color: whitesmoke;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

#nav {
    margin: 0;
}


.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

/*--------------------------------------------Hover.css*/

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 120px;
}

/* ----------------------------------------Footer */

footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 50px;
    margin: 0;
}

.social-networks{
    text-align: center;
    margin: 0;

}

.social-networks li{
    display: inline;
}

.social-networks i{
    font-size: 160%;
    margin: 1%;
    padding: 1% 5% 1% 5%;
    color: black;
    
}
/* ----------------------------------------About section */

.about-icon {
    font-size: 26px;
    color: #e67e22;
}

.about-heading {
    margin-bottom: 15px;
}

/* ----------------------------------------Soundcloud and Youtube Sections */

.soundcloud { 
  
    width: 96%;
    max-width: 60em;
    margin: 0 auto;
    
  }

  .scframe {
    width: 100%;
    height: 450px
}

.ytframe {
    width: 100%;
    height: 315px
}
/* ----------------------------------------Upcoming Events*/

.events-heading {
    color: black;
    margin-bottom: 50px;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: black;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: black;
}

.events-items {
    margin-bottom: 30px;
}

/* ----------------------------------------Contact Form */

.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #e84610;
}

/* ----------------------------------------Media Queries */

@media(min-width: 992px) {
    .center-form {
        padding-top: 30px;
        padding-bottom: 100px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}


